<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncu.neo.GoBuyer">

    <uses-permission android:name="android.permission.INTERNET" />
    n
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.ncu.neo.GoBuyer.GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ncu.neo.GoBuyer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ncu.neo.GoBuyer.Login_Activity" />
        <activity android:name="com.ncu.neo.GoBuyer.CreateAccountActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.ChooseActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.BuyerViewActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.BuyerProductActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.BuyerPostActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.GoerViewActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.GoerPostActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.FollowingActivity" />
        <activity android:name="com.ncu.neo.GoBuyer.BuyerPost2Activity" />
        <activity android:name="com.ncu.neo.GoBuyer.BuyerPost3Activity" />
        <activity android:name="com.ncu.neo.GoBuyer.BuyerPostHasValueActivity"></activity>
    </application>

</manifest>